.Button {
    font-size: 0.9rem;
    align-self: center;
    border-radius: 10px;
    border-color: rgb(246 96 184);
    background-color: rgb(246 96 184 / 17%);
    margin: 0 5px;
    min-width: 75px;
    color: white;
    text-transform: uppercase;
    }

.FullPink {
    background-color: rgba(246, 96, 184, 0.882);
}

.Wide {
        padding: 10px 50px;
        width: 100%;
        }

.Button:hover {
        opacity: 0.8;
        background-color: rgb(246 96 184);
        border-color: transparent;
        cursor: pointer;
    }

.Button:hover:active {
        background-color: rgb(246 96 184) !important;
    }

.Button:active {
        background-color: rgb(246 96 184) !important;
    }

.Button:focus {
        background-color: rgb(246 96 184);
    }

.Orange {
    color: rgb(7, 7, 7);
    background-color: whitesmoke;;
}

.Orange:hover {
        opacity: 0.8;
        background-color: rgb(231, 223, 223);
        border-color: transparent;
        color: black;
        cursor: pointer;
    }

.Orange:hover:active {
        background-color: #dc8350 !important;
    }


.Orange:focus {
        background-color: #dc8350;
    }