.Button {
    font-size: 0.9rem;
    align-self: center;
    border-radius: 10px;
    border-color: #5b5a2e;
    background-color: #5b5a2e;
    margin: 0 5px;
    min-width: 75px;
    color: white;
    text-transform: uppercase;
    }

.Wide {
        padding: 10px 50px;
        width: 100%;
        }

.Button:hover {
        opacity: 0.8;
        background-color: #6d6c3a;
        border-color: transparent;
        cursor: pointer;
    }

.Button:hover:active {
        background-color: #8a8849 !important;
    }

.Button:active {
        background-color: #8a8849 !important;
    }

.Button:focus {
        background-color: #8a8849;
    }

.Orange {
    color: rgb(7, 7, 7);
    background-color: whitesmoke;;
}

.Orange:hover {
        opacity: 0.8;
        background-color: rgb(231, 223, 223);
        border-color: transparent;
        color: black;
        cursor: pointer;
    }

.Orange:hover:active {
        background-color: #dc8350 !important;
    }


.Orange:focus {
        background-color: #dc8350;
    }