.Form {
    border: none;
    border-bottom: 2px #2ba0b4 solid;
}

.Button {
    font-size: 1rem;
    align-self: center;
    border-radius: 70px;
    border-color: white;
    background-color: #217e8f;
    margin: 0 5px;
    min-width: 75px;
    color: white;
    text-transform: uppercase;
}

.Button:hover:active {
    background-color: #2ba0b4 !important;
}

.Button:active {
    background-color: #2ba0b4 !important;
}

.Button:focus {
    background-color: #2ba0b4;
}