.Form {
    border: none;
    border-bottom: 2px #5b5a2e solid;
}

.Button {
    font-size: 1rem;
    align-self: center;
    border-radius: 70px;
    border-color: white;
    background-color: #5b5a2e;
    margin: 0 5px;
    min-width: 75px;
    color: white;
    text-transform: uppercase;
}

.Button:hover:active {
    background-color: #8a8849 !important;
}

.Button:active {
    background-color: #8a8849 !important;
}

.Button:focus {
    background-color: #8a8849;
}