.Owner {
    font-weight: bold;
    color:#242a3d;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-right: 8px;
}

.Date {
    font-weight: lighter;
    color: #424246;
    font-style: italic;
}