.Brand {
    color: #E2008A!important;
    font-size: 4rem;
}
.Icon {
    color: #68BBE5;
    font-size: 4rem;
}

.NavLink:hover {
    cursor: pointer!important;
    transition: color ease-in-out 0.3s!important;
    color: #68BBE5!important;
    text-decoration: none;
} 

i {
    margin-right: 0.5rem;
    font-size: 1.6rem;
}
/* i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #E2008A;
    } */


.NavBar{
        background-color: black;
    }

.NavLink {
    color: white!important;
    margin-right: 1rem;
}

.Active {
    color: #E2008A!important;
}
