.Post {
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
    }
.Post figure,
h5 {
    margin: 0 0;
    }

.Icon {
    color: #f85032;
    }

.Icon:hover {
    color: #217e8f;
    }

.IconOutline:hover {
    color: #f85032;
    }
.GreyFont {
    color: #4d4d4d;
}