.Post {
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
    }

.Icon {
    margin-right: 30px!important;
}
.Red {
    background: linear-gradient(to right, red, rgb(246 96 184));
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
    color: transparent;
    }

.Red:hover {
    color: #b43a24;
    }

.IconOutline:hover {
    color: rgb(246 96 184);
    }

.Comments{
    color: white;
}

.Comments:hover {
    color:rgb(246 96 184);
}
