.Post {
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
    }

.Icon {
    margin-right: 30px!important;
}
.Red {
    background: linear-gradient(to right, red 5%, rgb(246 96 184));
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
    color: transparent;
    }

.Red:hover {
    color: #b43a24;
    }

.IconOutline:hover,
.Comments:hover {
    background: linear-gradient(to right, red 5%, rgb(246 96 184));
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
    color: transparent;
    }

.Comments{
    color: white;
}

