.SearchBar input {
    border-radius: 20px;
    border: 4px #242a3d solid ;
    color: #242a3d;
    padding-left: 40px;
    margin-bottom: 16px;
    padding: 20px;
    margin: 3rem;
    max-width: 90%;
  }

/* .SearchBar:active {
  background-color: aqua;
} */