.Header {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: white;
    margin-bottom: 0;
  }

.Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
    color: white;
  }

.Input {
    background: #ffffff;
    border: 1px solid #f0f1f9;
    box-sizing: border-box;
    border-radius: 2px;
    color: #7177a1;
    text-align: center;
    padding: 10px;
  }