.Header {
    font-size: 25px;
  }

.Form {
  padding-top: 60px!important;
  padding-bottom: 60px!important;
  margin-top: 53px;
  }


.Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
    color: white;
    margin: 20px 0;
  }

.Link span {
    color: #ff9254;
    font-size: larger;
}

.Link:hover {
  opacity: 0.8;
  color: whitesmoke;
  cursor: pointer;
  font-weight: bolder;
}

.Input {
    background: #ffffff;
    box-sizing:border-box;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 40px 0;
  }