.App {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    }

.Main {
    margin-top: 20vh;
}

.Content {
    padding: 10px;
    border-radius: 20px;
    }   

.Boxed {
    border: 1px solid #dadadf!important;
    border-radius: 2px;
} 

.Blue {
        background-color:#68BBE5;
    }

.Pink {
        background-color:#E2008A;
    } 
.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
    }

.Hidden {
    display: none;
}



