.App {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    color: #4d4d4d;
    }

.Main {
    margin-top: 20vh;
}

.Content {
    padding: 10px;
    border-radius: 20px;
    }   

.Boxed {
    border: 1px solid #dadadf!important;
    border-radius: 2px;
} 

.Grey {
    background-color:#5b5b5b;
    }

.DarkGrey {
        background-color:#2c2b2b;
        padding-top: 80px!important;
        padding-bottom: 80px!important;
    } 
.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
    }

.Hidden {
    display: none;
}

.FillerImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
}


