.App {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    color: #4d4d4d;
    background-color: whitesmoke;
    margin: auto 10px;
    width: auto;
    height: 2000px;
    }

.Main {
    margin-top: 20vh;
}

.Content {
    padding: 20px;
    border-radius: 20px;
    background-color:#2c2b2b;
    text-align: center;
    color: white;
    margin: 2rem;
    
    }

.Header {
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.7rem;
}

.SubTitle {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    color: white;
}

.SubTitle:hover {
    cursor: pointer!important;
    transition: color ease-in-out 0.3s!important;
    opacity: 0.8;
    text-decoration: underline;
}

.Grey {
    background-color:#5b5b5b;
    }
    
.Image {
    max-height: 40vh;
    max-width: 100%;
    /* object-fit: contain; */
    }

.Hidden {
    display: none;
}

.FillerImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin-left: 35px;
}
.Italics{
    font-style: italic;
}



